@import './variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: $background-color;
  color: $text-color;
}

.container {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 20px;
}

button {
  cursor: pointer;
  border: none;
  font-family: inherit;
}