.cabinetTabs {
  display: flex;
  justify-content: center;
  gap: 15px;

  padding: 12px;
  background: white;
  border-bottom: 1px solid #eee;

  position: sticky;
  top: 70px;
  z-index: 90;
}

.tabBtn {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background: #f3f4f6;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;

  &:hover {
    background: #e5e7eb;
  }
}

.active {
  background: #00bfa6;
  color: white;
}